* {
    box-sizing: border-box;
}

html, body {
    font-family:'Raleway';
    background-image: url("https://img.freepik.com/free-vector/halftone-dots-white-background-gray-dots-halftone-texture_47243-1127.jpg?w=2000");
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    }
    
#encodeInput {
    padding : 50px 8px;
    width   : 70%;
    height  : 90%;
    border-radius: 0px;;
    display: block;
    margin-left: 0;
  }

#inputOffset {
    padding : 5px 5px;
    width   : 10%;
    height  : 10%;
    border-radius: 0px;;
    display: block;   
}

#offsetInput {
    padding : 5px 5px;
    width   : 10%;
    height  : 10%;
    border-radius: 0px;;
    display: block;   
}

#h1 {
   display: none;
}
#optionsPage {
    display: none;
}
#encodeApp{
    display: none;
}
#decodeApp{
    display: none;
}

button {
    background-color: #4F4772;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    width: 10%;
    height: 50%;
}
header {
    align-items: center;
    justify-content: space-around;
    padding: 1 rem;
    display: flex;
    text-decoration: none;
}

.navigationList {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.Home {
    margin: 1rem;
    padding: 8;
}

.Hide_Message {
    margin: 1rem;
    padding: 8;
}

.Decode_Message {
    margin: 1rem;
    padding: 8;
}