html, body {
    font-family:'Raleway';
    background-image: url("https://img.freepik.com/free-vector/halftone-dots-white-background-gray-dots-halftone-texture_47243-1127.jpg?w=2000");
    text-align: center;
    }
    
#encodeInput {
    padding : 50px 8px;
    width   : 70%;
    height  : 90%;
    border-radius: 0px;;
    display: block;
    margin-left: 0;
  }

#inputOffset {
    padding : 5px 5px;
    width   : 10%;
    height  : 10%;
    border-radius: 0px;;
    display: block;   
}
#h1 {
   display: none;
}
#optionsPage {
    display: none;
}
#encodeApp{
    display: none;
}
#decodeApp{
    display: none;
}

nav {
    text-align: center;
}

button {
    background-color: #4F4772;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    width: 10%;
    height: 50%;
}
nav {
    display: inline-block;
    text-align: center;
}